@model LoginViewModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/_EmptyLayout.cshtml";
}

<div class="j-menu-container"></div>

<div class="b-inner-page-header f-inner-page-header b-bg-header-inner-page">
    <div class="b-inner-page-header__content">
        <div class="container">
            <h1 class="f-primary-l c-default">Sign In</h1>
        </div>
    </div>
</div>
<div class="l-main-container">
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Extra pages</a></li>
                <li><i class="fa fa-angle-right"></i><span>Sign In</span></li>
            </ul>
        </div>
    </div>
    <div class="container b-container-login-page">
        <div class="row">
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-body">
                        <span class="text text-danger">@Html.ValidationSummary()</span>
                        @using (Html.BeginForm("LogIn", "Hesap", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="form-group col-sm-7">
                                    @Html.LabelFor(x => x.NameEmail)
                                    @Html.TextBoxFor(x => x.NameEmail, new { @class = "form-control" })
                                    <span class="text text-danger">
                                        @Html.ValidationMessageFor(x => x.NameEmail)
                                    </span>
                                </div>
                                <div class="form-group col-sm-7">
                                    @Html.LabelFor(x => x.Password)
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(x => x.RememberMe)
                                    @Html.CheckBoxFor(x => x.RememberMe)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>
                                        <input type="submit" class="btn theme-btn" value="Giriş Yap" />
                                    </p>
                                    <p>
                                        <a href="@Url.Action(" SifremiUnuttum","Hesap")" class="btn theme-btn">Şifremi Unuttum</a>
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- end: Widget -->
                </div>
                <!-- /REGISTER -->
            </div>
            <div class="col-md-6">
                <div class="f-primary-l f-title-big c-secondary">Log In with social account</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis eu mi et pellentesque. Curabitur vestibulum convallis orci, quis dapibus elit fringilla eget. Suspendisse posuere diam ut erat convallis, non dictum quam luctus. </p>
                <div class="b-social-links-box">
                    <a href="https://www.facebook.com/" class="b-social__item f-social__item b-social__item--fb"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="https://twitter.com/" class="b-social__item f-social__item b-social__item--tw"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="https://www.linkedin.com/" class="b-social__item f-social__item b-social__item--ld"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    <a href="https://plus.google.com/" class="b-social__item f-social__item b-social__item--g f-social__item--g"><i class="fa fa-google-plus"></i> Google +</a>
                </div>
            </div>
        </div>
    </div>
</div>

